@import "../../common/colors.scss" ;


.list {
    margin : 20px 0 ;
    h2 {
        color  :$font-primary ;
        margin-bottom: 1.5rem;
        font-weight: 400;

    }

}

.movie-container ,.show-container {
    display : grid ;
    grid-template-columns: repeat(auto-fill , minmax(22rem, 1fr));
    gap : 1.8rem ; 

}

.error {
    color : $font-secondary ;
    h3 {
        font: {
            size : 3rem  ;
            weight: 400;
        };
    }

}

.loading {
    color : $font-primary ;
    text-align: center;
    font-size: 3rem;

}